# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/psxjin-src/.svn
/.vs
/psxjin-src/output/bios/SCPH1001.BIN
/psxjin-src/output/psxjin.ini
/psxjin-src/Win32/Debug/psxjin
/psxjin-src/Win32/Debug/psxjinRX/vc80.pdb
/psxjin-src/Win32/Debug/psxjinRX/vc80.idb
/psxjin-src/Win32/Debug/psxjinRX/psxjin.res
/psxjin-src/Win32/Debug/psxjinRX/psxjin-debug.exe.intermediate.manifest
/psxjin-src/Win32/Debug/psxjinRX/psxjin-debug.exe.embed.manifest.res
/psxjin-src/Win32/Debug/psxjinRX/psxjin-debug.exe.embed.manifest
/psxjin-src/Win32/Debug/psxjinRX/mt.dep
/psxjin-src/Win32/Debug/psxjinRX/gpuPeopsSoft.res
/psxjin-src/Win32/Debug/psxjinRX/BuildLog.htm
/psxjin-src/Win32/Release/psxjinRX
/psxjin-src/Win32/_UpgradeReport_Files
/psxjin-src/Win32/PLAYB___.TTF
/psxjin-src/Win32/psxjin.vcproj.LEGACYDEV.Brad.user
/psxjin-src/Win32/UpgradeLog2.XML
/psxjin-src/Win32/UpgradeLog.XML
